@import "../../styles/config.scss";

.projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding: 0 35px;
    box-sizing: border-box;

    &-title {
        @include h1();
        padding: 100px 0 25px;
        
    }
}

.carousel{
    &-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    &-control{
        border: none;

        &:disabled, 
        &[disabled],
        &:disabled:hover{
            color: #666666;
        }

    }
}

