@import "../../styles/config.scss";

.home {
    height: calc(100vh - 65px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__hero {
        padding-left: 35px;

        &-pretitle {
            @include lead();
            margin-bottom: 0;
        }

        &-title {
            @include h1();
            margin-bottom: 5px;
        }

        &-subtitle {
            @include h2();
            margin-bottom: 5px;
        }

        &-blurb {
            @include p();
            max-width: 391px;
            margin-bottom: 0;
        }
    }

    &__img {
        height: auto;
        width: 100%;
        max-width: 625px;
        overflow: hidden;
    }
}