@import "../../styles/config.scss";

.contact {
    // margin-top: 65px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__body {
        padding-left: 35px;
        width: 35%;

        &-title {
            @include h1();
            margin-bottom: 15px;
        }

        &-subtitle {
            @include p-alt();
            // margin-bottom: 0;
        }

        &-resume {
            border-radius: 0;
            text-decoration: none;
            color: #36363C;
            display: inline-block;
            padding: 0px 5px;
            transition: all .2s ease-in-out;
            box-sizing: border-box;
            text-decoration: none;
            box-shadow: inset 0 -5px 0 $primary-3;
            &:hover {
              box-shadow: inset 0 -55px 0 0 $primary-3;
              color: white;
            }
            &:focus-visible{
                @include focus-border();
            }
          }
    }

    &__img {
        &-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 50%;
            overflow: hidden;
            // padding-right: 35px;
        }
        width: 100%;
        height: auto;
        max-width: 653px;
    }
}



@media (max-width: 750px) {
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &__body {
            width: unset;
            padding: 35px 35px 0px 35px;
            margin-top: 10px;

            &-paragraph {
                max-width: 100%;
            }
        }

        &__img {
            &-wrapper {
                width: 100%;
                margin-top: -10px;
            }
        }
    }
}